<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/012f90081f.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD6dIi8uGwtU6_fLM-vPkmD4NjIERfQbI&v=3.exp&sensor=false&libraries=places"></script>

</head>

<body>
    <div class="pb-2 mb-2 border-bottom" style="background-color: #563d7c;">
        <h4 class="pt-2" style="margin-left: 10px; color: white;">
            Farm Configuration Details
        </h4>
    </div>

    <div class="container mt-4">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter Farm Location</label>
                <input type="text" class="form-control" id="farmLocation" aria-describedby="emailHelp"
                    placeholder="Enter Location">

            </div>

            <div class="mt-5">
                <h2>Region 1</h2>
                <hr />

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Crop Type</label>
                    <select class="form-control cropType" id="region1">
                        <option value="Corn">Corn</option>
                        <option value="Wheat">Wheat</option>
                        <option value="Rice">Rice</option>
                        <option value="Cotton">Cotton</option>
                        <option value="Maize">Maize</option>
                        <option value="Barley">Barley</option>
                        <option value="Potato">Potato</option>
                        <option value="Tomato">Tomato</option>
                        <option value="Onion">Onion</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Type</label>
                    <select class="form-control soilType">
                        <option value="Alfisols">Alfisols</option>
                        <option value="Andisols">Andisols</option>
                        <option value="Aridisols">Aridisols</option>
                        <option value="Entisols">Entisols</option>
                        <option value="Inceptisols">Inceptisols</option>
                        <option value="Mollisols">Mollisols</option>
                        <option value="Oxisols">Oxisols</option>
                        <option value="Spodosols">Spodosols</option>
                        <option value="Ultisols">Ultisols</option>
                        <option value="Vertisols">Vertisols</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Humidity Threshold</label>
                    <input class="form-control threshold" placeholder="Enter value (inches of water per foot)" />
                </div>
            </div>

            <div class="mt-5">
                <h2>Region 2</h2>
                <hr />

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Crop Type</label>
                    <select class="form-control cropType" id="exampleFormControlSelect1">
                        <option value="Corn">Corn</option>
                        <option value="Wheat">Wheat</option>
                        <option value="Rice">Rice</option>
                        <option value="Cotton">Cotton</option>
                        <option value="Maize">Maize</option>
                        <option value="Barley">Barley</option>
                        <option value="Potato">Potato</option>
                        <option value="Tomato">Tomato</option>
                        <option value="Onion">Onion</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Type</label>
                    <select class="form-control soilType" id="exampleFormControlSelect1">
                        <option value="Alfisols">Alfisols</option>
                        <option value="Andisols">Andisols</option>
                        <option value="Aridisols">Aridisols</option>
                        <option value="Entisols">Entisols</option>
                        <option value="Inceptisols">Inceptisols</option>
                        <option value="Mollisols">Mollisols</option>
                        <option value="Oxisols">Oxisols</option>
                        <option value="Spodosols">Spodosols</option>
                        <option value="Ultisols">Ultisols</option>
                        <option value="Vertisols">Vertisols</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Humidity Threshold</label>
                    <input class="form-control threshold" placeholder="Enter value (inches of water per foot)" />
                </div>
            </div>

            <div class="mt-5">
                <h2>Region 3</h2>
                <hr />

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Crop Type</label>
                    <select class="form-control cropType" id="exampleFormControlSelect1">
                        <option value="Corn">Corn</option>
                        <option value="Wheat">Wheat</option>
                        <option value="Rice">Rice</option>
                        <option value="Cotton">Cotton</option>
                        <option value="Maize">Maize</option>
                        <option value="Barley">Barley</option>
                        <option value="Potato">Potato</option>
                        <option value="Tomato">Tomato</option>
                        <option value="Onion">Onion</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Type</label>
                    <select class="form-control soilType" id="exampleFormControlSelect1">
                        <option value="Alfisols">Alfisols</option>
                        <option value="Andisols">Andisols</option>
                        <option value="Aridisols">Aridisols</option>
                        <option value="Entisols">Entisols</option>
                        <option value="Inceptisols">Inceptisols</option>
                        <option value="Mollisols">Mollisols</option>
                        <option value="Oxisols">Oxisols</option>
                        <option value="Spodosols">Spodosols</option>
                        <option value="Ultisols">Ultisols</option>
                        <option value="Vertisols">Vertisols</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Humidity Threshold</label>
                    <input class="form-control threshold" placeholder="Enter value (inches of water per foot)" />
                </div>
            </div>

            <div class="mt-5">
                <h2>Region 4</h2>
                <hr />

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Crop Type</label>
                    <select class="form-control cropType" id="exampleFormControlSelect1">
                        <option value="Corn">Corn</option>
                        <option value="Wheat">Wheat</option>
                        <option value="Rice">Rice</option>
                        <option value="Cotton">Cotton</option>
                        <option value="Maize">Maize</option>
                        <option value="Barley">Barley</option>
                        <option value="Potato">Potato</option>
                        <option value="Tomato">Tomato</option>
                        <option value="Onion">Onion</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Type</label>
                    <select class="form-control soilType" id="exampleFormControlSelect1">
                        <option value="Alfisols">Alfisols</option>
                        <option value="Andisols">Andisols</option>
                        <option value="Aridisols">Aridisols</option>
                        <option value="Entisols">Entisols</option>
                        <option value="Inceptisols">Inceptisols</option>
                        <option value="Mollisols">Mollisols</option>
                        <option value="Oxisols">Oxisols</option>
                        <option value="Spodosols">Spodosols</option>
                        <option value="Ultisols">Ultisols</option>
                        <option value="Vertisols">Vertisols</option>
                    </select>
                </div>

                <div class="form-group ml-4">
                    <label for="exampleFormControlSelect1">Soil Humidity Threshold</label>
                    <input class="form-control threshold" placeholder="Enter value (inches of water per foot)" />
                </div>
            </div>
            <button onclick="submitBtn()" type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="../static/farmConfig.js" type="text/javascript"></script>

    <script>
        function initialize() {
            var input = document.getElementById('farmLocation');
            new google.maps.places.Autocomplete(input);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>

</html>