<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/012f90081f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/alertify.css" />
    <style>
        h2 {
            font-size: 26px;
        }

        h3 {
            font-size: 23px;
        }

        h4 {
            font-size: 18px;
            font-weight: normal;
        }

        .text-success {
            color: teal;
        }

        .icon-error-color {
            color: tomato;
        }

        .text-align-center {
            text-align: center;
        }

        .config-values ul {
            padding: 0;
        }

        .config-values li {
            font-size: 13px;
            list-style: none;
        }

        .config-values li span {
            font-size: 1rem;
            padding: 0 2%;
            color: #563d7c;
            font-weight: bold;
        }

        .soil-threshold {
            font-size: 13px;
            color: #563d7c;
            font-weight: bold;
        }

        .alertify-notifier {
            font-weight: bold;
            color: white;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="pb-2 mb-2 border-bottom" style="background-color: #563d7c;">
        <h2 class="pt-3 pl-5" style="margin-left: 10px; color: white;">
            Automated Irrigation System
        </h2>
    </div>

    <div style="padding: 50px;">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>System Mode</h3>
                            </div>
                            <div class="col-md-6 system-mode">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="system-mode" id="sys-mode-on"
                                        value="on">
                                    <label class="form-check-label" for="sys-mode-on">On</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="system-mode" id="sys-mode-off"
                                        value="off" checked>
                                    <label class="form-check-label" for="sys-mode-off">Off</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Operation Mode</h3>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="opmode" id="op-mode-manual"
                                        value="option1">
                                    <label class="form-check-label" for="op-mode-manual">Manual</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="opmode" id="op-mode-auto"
                                        value="option2" checked>
                                    <label class="form-check-label" for="op-mode-auto">Auto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Water Source Controller</h4>
                            </div>
                            <div class="col-md-6">
                                <p class="text-success"><i class="fas fa-check-circle"></i> Running</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Water Source Actuator</h4>
                            </div>
                            <div class="col-md-6 water-source-actuator">
                                <p class="text-warning"><i class="fas fa-times-circle"></i> OFF</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card config-values">
                    <div class="card-header">Configuration Values <a href="/farmConfiguration"
                            class="btn btn-primary btn-sm ml-3" role="button"><i class="fa fa-edit"></i> Edit</a></div>
                    <div class="card-body">
                        <p>Farm Location: <span class="farm-location"></span></p>
                        <div class="row">
                            <div class="region1-values col-md-6">
                                <h5>Region 1</h5>
                                <ul>
                                    <li>Crop Type: <span class="crop-type"></span></li>
                                    <li>Soil Type: <span class="soil-type"></span></li>
                                    <li>Soil Humidity Threshold: <span class="humidity-level"></span></li>
                                </ul>
                            </div>
                            <div class="region2-values col-md-6">
                                <h5>Region 2</h5>
                                <ul>
                                    <li>Crop Type: <span class="crop-type"></span></li>
                                    <li>Soil Type: <span class="soil-type"></span></li>
                                    <li>Soil Humidity Threshold: <span class="humidity-level"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="region3-values col-md-6">
                                <h5>Region 3</h5>
                                <ul>
                                    <li>Crop Type: <span class="crop-type"></span></li>
                                    <li>Soil Type: <span class="soil-type"></span></li>
                                    <li>Soil Humidity Threshold: <span class="humidity-level"></span></li>
                                </ul>
                            </div>
                            <div class="region4-values col-md-6">
                                <h5>Region 4</h5>
                                <ul>
                                    <li>Crop Type: <span class="crop-type"></span></li>
                                    <li>Soil Type: <span class="soil-type"></span></li>
                                    <li>Soil Humidity Threshold: <span class="humidity-level"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="mt-10">
            <h3> System Status </h3>
        </div>
        <div class="row mt-4 ml-10">
            <div class="col-md-4">
                <div class="card actuator-status">
                    <div class="card-header">
                        Actuators
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6" style="border-right: 1px solid #e8e8e8;">
                                <h6 class="text-align-center">Region 1</h6>
                                <div class="row region1" data-fail="0" data-running="2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h6 class="text-align-center">Region 2</h6>
                                <div class="row region2" data-fail="0" data-running="2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4" style="border-right: 1px solid #e8e8e8;">
                                <h6 class="text-align-center">Region 3</h6>
                                <div class="row region3" data-fail="0" data-running="2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <h6 class="text-align-center">Region 4</h6>
                                <div class="row region4" data-fail="0" data-running="2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card controller-status">
                    <div class="card-header">
                        Controllers
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6" style="border-right: 1px solid #e8e8e8;">
                                <h6 class="text-align-center">Region 1</h6>
                                <div class="row region1">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h6 class="text-align-center">Region 2</h6>
                                <div class="row region2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4" style="border-right: 1px solid #e8e8e8;">
                                <h6 class="text-align-center">Region 3</h6>
                                <div class="row region3">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <h6 class="text-align-center">Region 4</h6>
                                <div class="row region4">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card sensor-status">
                    <div class="card-header">
                        Sensors
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6" style="border-right: 1px solid #e8e8e8;">
                                <h6 class="text-align-center">Region 1</h6>
                                <div class="row region1" data-fail="0" data-running="2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h6 class="text-align-center">Region 2</h6>
                                <div class="row region2">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4" style="border-right: 1px solid #e8e8e8;">
                                <h6 class="text-align-center">Region 3</h6>
                                <div class="row region3">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <h6 class="text-align-center">Region 4</h6>
                                <div class="row region4">
                                    <div class="col">
                                        Failed
                                        <div class="fail">
                                            <span>-</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        Running
                                        <div class="running">
                                            <i class="fas fa-check-circle text-success"></i> <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-5 pr-5">
        <hr />
        <div class="mb-4">
            <h3> Region-wise Actuator State </h3>
        </div>
        <div class="row pb-4">
            <div class="col-md-6">
                <div class="card" id="region1">
                    <div class="card-header">Region 1 <span class="soil-threshold float-right">Soil Humidity Threshold:
                            <span></span></span></div>
                    <div class="card-body">
                        <form action="" method="POST" class="region1" accept-charset="utf-8">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-01" class="col-sm-4 col-form-label">S01</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue1" id="s-01">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator1">
                                        <label for="a-01" class="col-sm-4 col-form-label">A01</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-01-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-01-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status1">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime1">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime1" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-02" class="col-sm-4 col-form-label">S02</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue2" id="s-02">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator2">
                                        <label for="a-02" class="col-sm-4 col-form-label">A02</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-02-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-02-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status2">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime2">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime2" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="regionId" value="1">
                            <hr>
                            <div class="row">
                                <div class="col-md-3 col-3 col-sm-3">
                                    <button class="btn btn-primary save" type="submit"><i class="fa fa-save"></i>
                                        Save</button>
                                </div>
                                <div class="col">
                                    <span class="pl-4">Trigger Fail: </span>
                                    <button class="btn btn-danger ml-3 trigger-fail" data-id="1" data-type="sensor"
                                        type="button"><i class="fa fa-times"></i> S01</button>
                                    <button class="btn btn-danger trigger-fail" data-id="2" data-type="sensor"
                                        type="button"><i class="fa fa-times"></i> S02</button>
                                    <button class="btn btn-danger ml-3 trigger-fail" data-id="1" data-type="actuator"
                                        type="button"><i class="fa fa-times"></i> A01</button>
                                    <button class="btn btn-danger trigger-fail" data-id="2" data-type="actuator"
                                        type="button"><i class="fa fa-times"></i> A02</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="region2">
                    <div class="card-header">Region 2 <span class="soil-threshold float-right">Soil Humidity Threshold:
                            <span></span></span></div>
                    <div class="card-body">
                        <form action="" method="POST" class="region2" accept-charset="utf-8">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-03" class="col-sm-4 col-form-label">S03</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue1" id="s-03">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator1">
                                        <label for="a-03" class="col-sm-4 col-form-label">A03</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-03-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-03-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status1">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime1">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime1" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-04" class="col-sm-4 col-form-label">S04</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue2" id="s-04">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator2">
                                        <label for="a-04" class="col-sm-4 col-form-label">A04</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-04-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-04-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status2">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime2">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime2" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="regionId" value="2">
                            <hr>
                            <button class="btn btn-primary save" type="submit"><i class="fa fa-save"></i> Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" id="region3">
                    <div class="card-header">Region 3 <span class="soil-threshold float-right">Soil Humidity Threshold:
                            <span></span></span></div>
                    <div class="card-body">
                        <form action="" method="POST" class="region3" accept-charset="utf-8">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-05" class="col-sm-4 col-form-label">S05</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue1" id="s-05">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator1">
                                        <label for="a-05" class="col-sm-4 col-form-label">A05</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-05-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-05-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status1">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime1">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime1" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-06" class="col-sm-4 col-form-label">S06</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue2" id="s-06">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator2">
                                        <label for="a-06" class="col-sm-4 col-form-label">A06</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-06-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-06-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status2">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime2">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime2" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="regionId" value="3">
                            <hr>
                            <button class="btn btn-primary save" type="submit"><i class="fa fa-save"></i> Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="region4">
                    <div class="card-header">Region 4 <span class="soil-threshold float-right">Soil Humidity Threshold:
                            <span></span></span></div>
                    <div class="card-body">
                        <form action="" method="POST" class="region4" accept-charset="utf-8">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-07" class="col-sm-4 col-form-label">S07</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue1" id="s-07">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator1">
                                        <label for="a-07" class="col-sm-4 col-form-label">A07</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-07-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-07-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status1">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime1">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime1" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="s-08" class="col-sm-4 col-form-label">S08</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control" name="sensorValue2" id="s-08">
                                        </div>
                                    </div>
                                    <div class="form-group row actuator2">
                                        <label for="a-08" class="col-sm-4 col-form-label">A08</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-success">
                                                    <input type="radio" name="act-on" id="a-08-on" autocomplete="off">
                                                    ON
                                                </label>
                                                <label class="btn btn-warning">
                                                    <input type="radio" name="act-off" id="a-08-off" autocomplete="off">
                                                    OFF
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group row status2">
                                        <label class="col-sm-4 col-form-label"><i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Status</label>
                                        <div class="col-sm-6 col-form-label">
                                            <p class="text-warning">&bull; <span class="current-status">Stopped</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row startTime2">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> Start Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                    <div class="form-group row endTime2" style="margin-top: -10px;">
                                        <label class="col-sm-12 text-info"><i class="fa fa-clock-o"
                                                aria-hidden="true"></i> End Time</label>
                                        <div class="col-sm-12">
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="regionId" value="4">
                            <hr>
                            <button class="btn btn-primary save" type="submit"><i class="fa fa-save"></i> Save</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-5 pb-5"></footer>
    <script src="../static/js/alertify.min.js"></script>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/jquery.serializeObject.js"></script>
</body>

</html>